<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gmail.schcrabicus.prospring3.tutorials.ch11.mybatis.persistence.HobbyMapper">
    <insert id="saveOrUpdate" parameterType="Hobby" >
      INSERT INTO hobby (hobby_id) VALUES (#{hobbyId})
    </insert>

    <select id="exists" parameterType="Hobby" resultType="Boolean">
       SELECT EXISTS (SELECT * FROM hobby WHERE hobby_id = #{hobbyId})
    </select>
</mapper>