<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="injectSimpleConfig" class="com.gmail.schcrabicus.prospring3.tutorials.ch4.value.injection.spel.InjectSimpleConfig" />

    <bean id="injectSimpleSpel" class="com.gmail.schcrabicus.prospring3.tutorials.ch4.value.injection.spel.InjectSimpleSpel">

        <property name="name">
            <value>#{injectSimpleConfig.name}</value>
        </property>

        <property name="age">
            <value>#{injectSimpleConfig.age + 1}</value>
        </property>

        <property name="height">
            <value>#{injectSimpleConfig.height}</value>
        </property>

        <property name="programmer">
            <value>#{injectSimpleConfig.programmer}</value>
        </property>

        <property name="ageInSeconds">
            <value>#{injectSimpleConfig.ageInSeconds}</value>
        </property>
    </bean>

</beans>