<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
        default-lazy-init="true">

    <bean id="simpleBean1" class="com.gmail.schcrabicus.prospring3.tutorials.ch5.lifecycle.init.annotation.SimpleBeanWithJSR250">
        <property name="name">
            <value>Kolya Lushchitskiy</value>
        </property>
        <property name="age">
            <value>100</value>
        </property>
    </bean>

    <bean id="simpleBean2" class="com.gmail.schcrabicus.prospring3.tutorials.ch5.lifecycle.init.annotation.SimpleBeanWithJSR250">
        <property name="age">
            <value>50</value>
        </property>
    </bean>

    <bean id="simpleBean3" class="com.gmail.schcrabicus.prospring3.tutorials.ch5.lifecycle.init.annotation.SimpleBeanWithJSR250">
        <property name="name">
            <value>Kolya Lushchitskiy</value>
        </property>
    </bean>

    <context:annotation-config />

    <context:component-scan base-package="com.gmail.schcrabicus.prospring3.tutorials.ch5.lifecycle.init.annotation" />

</beans>